/* Stili applicati per schermi con larghezza massima di 500px (dispositivi mobili piccoli) */
@media screen and (max-width: 500px) {
    #logo {
        display: none;
    }

    .side-bar-word span {
        display: none;
    }

    .small-side-bar {
        min-width: 36px;
        max-width: 36px;
    }

    .playlist {
        display: none;
    }

    .card-info {
        min-width: 45%;
    }
}

/* Stili applicati per schermi con larghezza minima di 501px e fino a 799px */
@media screen and (min-width: 501px) {
    #logo-small {
        display: none;
    }

    .small-side-bar {
        width: 25%;
        min-width: 145px;
        max-width: 145px;
    }

    .side-bar-bottom-img {
        margin-left: -13px;
    }

    .side-bar-top-img img {
        height: 30px;
        margin-left: 10px;
    }

    #logo {
        margin-left: -5px;
    }

    .side-bar-word img {
        margin-right: 10px;
    }

    #profile-section {
        filter: none;
        border-top: #6D6D6D solid 1px;
        padding-top: 10px;
    }

    .card-info {
        min-width: 45%;
    }
}

/* Stili applicati per schermi con larghezza minima di 800px (dispositivi grandi) */
@media screen and (min-width: 800px) {
    .card-info {
        min-width: 15%;
        max-width: 175px;
    }
}
